p{
    color: white;
    width: 20%;
    text-align: justify;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}
.c1{
    background: linear-gradient(90deg, red,orange);
    box-shadow: 0px 0px 10px black;
}
#id1{
    background: linear-gradient(45deg, purple,pink);
    box-shadow: 0px 0px 10px red;
}
.c2{
    background: linear-gradient(90deg, blue,yellow);
    box-shadow: 0px 0px 10px green;
}
.c1:hover{
    background: linear-gradient(90deg, green,black);
    cursor: pointer;
}
#id1:hover{
    background: linear-gradient(90deg, yellow,black);
    cursor: pointer;
}
.c2:hover{
    background: linear-gradient(90deg, gray,black);
    cursor: pointer;
}